<div class="about" id="about" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
  <div class="description">
    <h1>About</h1>
    <p>Sync is a scheduling system blahhh Sync is a scheduling system blahhhSync is a scheduling system blahhh.  Sync is a
      scheduling system blahhh. Sync is a scheduling system blahhhSync is a scheduling system blahSync is a scheduling system
      blahhhSync is a scheduling system blahhhSync is a scheduling system blahhhSync is a scheduling system blahhhSync is a
      scheduling system blahhhSync is a scheduling system blahhh </p>
  </div>
  <div class="the-team" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="30px">
    <div class="member" fxLayout="row" fxLayoutAlign="center center">
      <div class="team-image">
        <img src="../../../assets/images/sync-small@0.5x.png">
      </div>
      <div class="member-description">
        <h3>Name</h3>
        <h4>Title</h4>
        <p>dhasfsfgishgukshfjksghfyuhsgkduhfsihfsdfghsdgjwsdgughsdgyuyewrfgweyfgweufgyqoiufhugewr</p>
      </div>
    </div>
    <div class="member" fxLayout="row" fxLayoutAlign="center center">
      <div class="team-image">
        <img src="../../../assets/images/sync-small@0.5x.png">
      </div>
      <div class="member-description">
        <h3>Name</h3>
        <h4>Title</h4>
        <p>dhasfsfgishgukshfjksghfyuhsgkduhfsihfsdfghsdgjwsdgughsdgyuyewrfgweyfgweufgyqoiufhugewr</p>
      </div>
    </div>
    <div class="member" fxLayout="row" fxLayoutAlign="center center">
      <div class="team-image">
        <img src="../../../assets/images/sync-small@0.5x.png">
      </div>
      <div class="member-description">
        <h3>Name</h3>
        <h4>Title</h4>
        <p>dhasfsfgishgukshfjksghfyuhsgkduhfsihfsdfghsdgjwsdgughsdgyuyewrfgweyfgweufgyqoiufhugewr</p>
      </div>
    </div>
    <div class="member" fxLayout="row" fxLayoutAlign="center center">
      <div class="team-image">
        <img src="../../../assets/images/sync-small@0.5x.png">
      </div>
      <div class="member-description">
        <h3>Name</h3>
        <h4>Title</h4>
        <p>dhasfsfgishgukshfjksghfyuhsgkduhfsihfsdfghsdgjwsdgughsdgyuyewrfgweyfgweufgyqoiufhugewr</p>
      </div>
    </div>
    <div class="member" fxLayout="row" fxLayoutAlign="center center">
      <div class="team-image">
        <img src="../../../assets/images/sync-small@0.5x.png">
      </div>
      <div class="member-description">
        <h3>Name</h3>
        <h4>Title</h4>
        <p>dhasfsfgishgukshfjksghfyuhsgkduhfsihfsdfghsdgjwsdgughsdgyuyewrfgweyfgweufgyqoiufhugewr</p>
      </div>
    </div>
  </div>

</div>
