<div class="portal" fxLayout="row">
  <div class="side-menu" fxFlex="30" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20">
    <div class="header">
      <h1>User</h1>
    </div>
    <div class ="list">
      <mat-list>
        <mat-list-item>
          <div class="list-item">
            <a routerLink="portal">Home </a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item">
            <a routerLink="portal-schedule">Schedule </a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item">
            <a routerLink="view-availability">Employee Availability </a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="list-item">
            <a routerLink="staff">Staff </a>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="70"><app-calendar></app-calendar></div>
</div>
