@import '../../../styles.scss';
@import '~@angular/material/theming';

$dayBase: 50px;
$base: 90px;

.calendar {
  display: block;
  width:  85%;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: white;
  }

  .month-nav {
    //padding;
    font-family: Righteous, sans-serif;
    color: #0BA5DB;
    font-size: 16px;
  }

  .year-nav {
    //padding: $base;
    font-family: Righteous, sans-serif;
    color: #0BA5DB;
    font-size: 16px;

  }

  .month-grid {
    .day-names {
      //display: flex;
      background-color: #0BA5DB;
      color: white;
      font-family: Righteous, sans-serif;
      font-size: 16px;
      font-weight: bold;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      @include mat-elevation-transition;
      @include mat-elevation(2);
      &:active{
        @include mat-elevation(8);
      }
    }
    .weeks {
      //border: 1px solid #0BA5DB;
      background-color: #0BA5DB;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      @include mat-elevation-transition;
      @include mat-elevation(2);


    }
    .week {
      background-color: white;
      @include mat-elevation-transition;
      @include mat-elevation(1);


    }

    .week-date{
      text-align: center;
      padding: $base;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
      //border: 1px solid darkmagenta;
      @include mat-elevation-transition;
      @include mat-elevation(2);
      &:active{
        @include mat-elevation(8);
      }
    }
    .day-name {
      padding: $base;
      width: $dayBase;

    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        //z-index: 10;
        font-size: 13px;
        font-weight: 600;
        font-family: Roboto, "Helvetica Neue", sans-serif

      }

      &:after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        color: darkblue;
        &:hover {
          &:after {
            color: white;
          }
        }
      }
      &.selected {
        color: white;
        &:after {
          background-color: teal;
        }
        &:hover {
          &:after {
            background-color: teal;
          }
        }
      }

      &.disabled {
        color: lightgrey;
      }
    }

    .today {
      font-weight: bold;
      color: red;
    }
  }
}
