<mat-toolbar class="syncbar" color="primary">
  <span fxLayout="row" fxShow="true" fxHide.lt-md *ngIf="authService.loggedIn()">
        <img src="../assets/images/sync-small@0.5x.png">
    </span>

  <span class="example-spacer"></span>

  <div class="nav-menu" fxLayout="row" fxLayoutAlign="space-evenly center" fxShow="true" fxHide.lt-md>
    <button mat-icon-button class="menu"[matMenuTriggerFor]="menu"  *ngIf="authService.loggedIn()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <span mat-menu-item>
    {{user?.name}}
  </span>
  <button mat-menu-item routerLink="../portal">
    <mat-icon>home</mat-icon>
    <span>home</span>
  </button>
  <button mat-menu-item routerLink="../profile">
    <mat-icon>person</mat-icon>
    <span>profile</span>
  </button>
  <button mat-menu-item (click)="onLogoutClick()">
    <mat-icon>exit_to_app</mat-icon>
    <span>logout</span>
  </button>
</mat-menu>
