.portal{
  background-color: white;
  padding: 16px;
  height: 100vh;
  .side-menu{
    padding: 8px;
    background-color: white;
    .header {
      h1 {
        color: purple;
      }
    }
    .list{
      background-color: white;
      box-shadow: #777777;

      .list-item{
        box-shadow: #777777;
        //&:hover{
        //  background-color: purple;
        //  color: white;
        //}
        a{
          text-decoration: none;
          font-family: Roboto, "Helvetica Neue", sans-serif;
          font-size: large;
          color: purple;
        }

      }

    }

  }
}

.cal-day-cell{
  height: 100px;
  width: 50px;
  margin: 8px;
  border: 1px solid purple;
  .header{
    color: purple;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 16px;

  }
  .cal-cell{
    width: 100%;
  }
}

.approve-decline, .alerts {
  .header{
    color: purple;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .needs_approval, .alerts, .mat-list-item{
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: bold;
    .y_n{
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 20px;
      .yes{
        color: green;
      }
      .no{
        color: red;
      }
    }
  }
}
