@import "../../../src/styles.scss";

.login-page{
  background-color: #0BA5DB;
  height: 100vh;
}

.login-card {
  margin-top: 60px;
  width: 400px;
  border-radius: 5px;
  form{
    .mat-form-field{
      width: 80%;
    }
    .mat-raised-button {
      color: white;
      font-weight: 300;
      font-size: 12px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      background-color: #0BA5DB;
      box-shadow: #eeeeee;
      border-radius: 4px;
      width: 85%;
  }
  }
}


