@import "../../../src/styles.scss";

.login-page{
  background-color: #0BA5DB;
  height: 100vh;
}

.login-card {
  width: 400px;
  border-radius: 5px;
}

.form-container{
  height: 60%;
  width: 85%;

}
.login {
  margin-top: 60px;
  .mat-raised-button {
    color: white;
    font-weight: 300;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #0BA5DB;
    box-shadow: #eeeeee;
    border-radius: 4px;
    width: 85%;
  }
}


