<div class="allwrap">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <mat-toolbar id="footer" fxLayoutGap="20px" fxLayoutAlign="center center">
    <span fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
      <i class="fa fa-copyright" fxShow="true" fxHide.lt-md></i>
      <span fxShow="true" fxHide.lt-md>Sync Scheduling, Inc.</span>
    </span>
    <!--<span class="example-spacer" fxShow="true" fxHide.lt-md></span>-->
    <div class="signup-prompt" fxLayoutAlign="space-around"><a style="color: white;" routerLink="../../register"><b>Need an admin account? Contact Us  </b></a></div>


  </mat-toolbar>
</div>
