@import "../../styles.scss";

.profile-card{
  width: 85%;
}

.day{
  font-family: Righteous, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0BA5DB;
}

.avail{
  font-size: 20px;
  font-weight: 300;
}
