@import "../../../src/styles.scss";


.pageview {

  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

  h1 {
    color: white;
    font-size: 100px;
    font-weight: 100;
  }
  .mat-raised-button{
    border-radius: 30px;
    width: 100px;
  }
}
